<%- model_class = RecievePayment -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:client_id) %>:</strong></dt>
  <dd><%= @recieve_payment.client_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:invoice_id) %>:</strong></dt>
  <dd><%= @recieve_payment.invoice_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:email) %>:</strong></dt>
  <dd><%= @recieve_payment.email %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_date) %>:</strong></dt>
  <dd><%= @recieve_payment.payment_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:payment_method) %>:</strong></dt>
  <dd><%= @recieve_payment.payment_method %></dd>
  <dt><strong><%= model_class.human_attribute_name(:reference_no) %>:</strong></dt>
  <dd><%= @recieve_payment.reference_no %></dd>
  <dt><strong><%= model_class.human_attribute_name(:amount_recieved) %>:</strong></dt>
  <dd><%= @recieve_payment.amount_recieved %></dd>
  <dt><strong><%= model_class.human_attribute_name(:deposited_to) %>:</strong></dt>
  <dd><%= @recieve_payment.deposited_to %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              recieve_payments_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_recieve_payment_path(@recieve_payment), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              recieve_payment_path(@recieve_payment),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
